<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Variable.ttf</string>
		<string>Fraunces-Italic-Variable.ttf</string>
	</array>
</dict>
</plist>
